* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.stocks-page {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stocks-section {
  margin-top: 7%;
  height: 80vh;
  width: 85%;
  border: 1px solid black;
}

.stocks {
  height: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
