.bg-success {
  background-color: #28a745 !important;
  color: #fff !important;
}

.bg-danger {
  background-color: #dc3545 !important;
  color: #fff !important;
}

.bg-light {
  background-color: #f8f9fa !important;
  color: #000 !important;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinking-button {
  animation: blink 1s infinite;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.hidden-success {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.containers {
  margin-top: 2%;
  /* border: 1px solid black; */
  height: 89vh;
  width: 100%;
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.right-box {
  width: 48%;
  height: 95%;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.left-box {
  height: 95%;
  width: 28%;
  
}
.order-box {
  width: 49%;
  padding: 0;
  margin: 0;
}
.order-header
{
  width: 100%;
  font-size: xx-large;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orders-list{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}